@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #fdcf21;
  --blue-color: #2a42b0;
  --indigo-color: #736cd3;
  --pink-color: #e77bb8;
  --orange-color: #d17550;
  --bg: black;
  --border: 0.1rem solid #736cd3;
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-tumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 10%;
}

.heading {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 3.5rem;
}
.heading span {
  color: var(--indigo-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--indigo-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}
.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .navbar a {
  margin: 0 1rem;
  color: #fff;
  font-size: 1.6rem;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.logo img {
  width: 150px;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--pink-color);
}

#menu-btn {
  display: none;
}

.search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  witdh: 30rem;
  height: 3rem;
  display: flex;
  aligh-items: center;
  transform-origin: top;
  transform: scaleY(0);
}

.search-form.active {
  position: absolute;
  top: 115%;
  right: 7%;
  background: #fff;
  witdh: 30rem;
  height: 3rem;
  display: flex;
  aligh-items: center;
  transform-origin: top;
  transform: scaleY(1);
}
.header .search-form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: black;
  padding: 1rem;
  text-transform: none;
}

.header .search-form label {
  cursor: pointer;
  color: black;
  font-size: 2.2rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.header .search-form label:hover {
  color: var(--pink-color);
}

.header .cart-items-container {
  position: absolute;
  top: 100%;
  right: -100%;
  height: calc(100vh - 9.5rem);
  witdh: 70rem;
  background: #fff;
  padding: 0 1.5rem;
}

.header .cart-items-container .active {
  right: 0%;
}

.header .cart-items-container .cart-item {
  position: relative;
  margin: 2rem 0;
  display: flex;
  aligh-items: center;
  gap: 1.5rem;
  width: 20rem;
}

.header .cart-items-container .cart-item .fa-times {
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}
.header .cart-items-container .cart-item .fa-times:hover {
  color: var(--indigo-color);
}

.header .cart-items-container .cart-item img {
  height: 9rem;
  width: 5rem;
}
.header .cart-items-container .cart-item .content h3 {
  font-size: 1.5rem;
  color: black;
  padding-bottom: 0.5rem;
}
.header .cart-items-container .cart-item .content .price {
  font-size: 1rem;
  color: var(--orange-color);
}

.header .cart-items-container btn {
  witdh: 100%;
  text-aligh: center;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("/images/home-bg.jpg") no-repeat;
  background-size: cover;
  justify-content: center;
  box-shadow: inset 0 -3em 3em black;
  opacity: 0.8;
}

.home .content {
  max-witdh: 60rem;
}

.home .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
}
.home .content p {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #eee;
}

.about .row {
  display: flex;
  aligh: center;
  background: var(--indigo-color);
  flex-wrap: wrap;
  opacity: 0.8;
}
.about .row .image {
  flex: 1 1 45rem;
}
.about .row .image img {
  width: 100%;
  height: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content .btn {
  background-color: var(--main-color);
}

/*media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .active {
    right: 0%;
  }
  .header .navbar a {
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: black;
    text-transform: none;
  }
  .header .search-form {
    width: 90%;
    right: 2rem;
  }
  .home {
    background-position: left;
    justify-content: center;
    text-ling: center;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
